<footer class="footer pt-5 pb-5">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <h4 class="font-weight-bold text-light">網站導覽</h4>
        <ul class="p-0">
            <a [routerLink]="['site']"><li>景點簡介</li></a>
            <a [routerLink]="['food']"><li>美食小吃</li></a>
            <a [routerLink]="['activity']"><li>藝文活動</li></a>
            <a [routerLink]="['bus']"><li>公車資訊</li></a>
            <a [routerLink]="['bike']"><li>公共單車資訊</li></a>
        </ul>
      </div>
      <div class="col-4">
        <h4 class="font-weight-bold text-light">素材資源</h4>
        <ul class="p-0">
          <a href="" tabindex="_blank"></a>
          <a href="" tabindex="_blank"></a>
          <a href="" tabindex="_blank"></a>
          <a href="" tabindex="_blank"></a>
          <a href="" tabindex="_blank"></a>
        </ul>
      </div>
      <div class="col-4">
        <h4 class="font-weight-bold text-light">Source Code</h4>
        <ul class="p-0">
          <a href="https://github.com/stu01509/Angular-FunKaohsiung-WebSite">
            <li>
              <i class="fa fa-github fa-2x" aria-hidden="true"></i> Repo on Github
            </li>
          </a>
        </ul>
      </div>
    </div>
    <div class="col-12">
      <ul class="text-center text-light">
        <li>Copyright© 2018 FlipTech All rights reserved. </li>
        <li>最佳瀏覽解析度1920x1080 Using Flexbox.</li>
      </ul>
    </div>
  </div>
</footer>