a {
  color: #000;
  text-decoration: none;
}

.ig {
  height: 450px;
  background-image: url('../../assets/img/igBg.jpg');
  background-position: center bottom;
  background-size: cover;
}

.go-top {
  position: fixed;
  right: 50px;
  bottom: 30px;
  padding: 10px 20px 10px 20px;
  font-size: 20px;
  background: rgba(0, 0, 0, 0.3);
  color: white;
  cursor: pointer;
  z-index: 999;
  border: 1px solid #000;
  border-radius: 30px;
}