<div class="jumbotron jumbotron-fluid pt-5 pb-5 d-flex align-items-center food">
  <div class="container">
    <h1 class="display-4 text-light font-weight-bold">美食小吃</h1>
    <p class="lead text-light font-weight-bold">人生就是不停的吃吃吃，睡睡睡，睡睡睡，吃吃吃，收錄了450筆商家美食資料，有道地的高雄小吃，異國風情的餐點，以及道地食材所製作美食料理
      ，等著征服你的味蕾.
    </p>
    <input class="form-control " type="search" placeholder="美食搜尋" aria-label="Search" (keyup)="search($event)">
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12 col-sm-6 col-md-6 col-lg-4 p-3" *ngFor="let food of tempList let i=index;" [ngClass]="{'d-none': i > itemValue}">
      <a href="#" data-toggle="modal" data-target="#foodDetail" (click)="showModal(food)">
        <div class="card" *ngIf="i<itemValue">
          <img class="card-img-top img-fluid" src="{{ food.Picture1 }}" [alt]="food.Picdescribe1">
          <div class="card-body">
            <h5 class="card-title">{{ food.Name }}</h5>
            <p class="card-text">{{ food.Description | slice:1:30 }}...</p>
          </div>
        </div>
      </a>
    </div>
  </div>
  <input type="button" class="btn btn-primary btn-md btn-block mb-5" value="查看更多" (click)="addList()">
</div>

<div class="modal fade" id="foodDetail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog  modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ modal.Name }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img [src]="modal.Picture1" class="img-fluid img-rounded" [alt]="modal.Picdescribe1" [title]="modal.Picdescribe1">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <p>
                {{ modal.Description }}
              </p>

            </div>
            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col" colspan="4">店家資訊</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">地址：</th>
                    <td>{{ modal.Add }}</td>
                    <th scope="row">電話：</th>
                    <td>{{ modal.Tel }}</td>
                  </tr>
                  <tr>
                    <th scope="row">營業時間：</th>
                    <td>{{ modal.Opentime }}</td>
                    <th scope="row">交通資訊：</th>
                    <td>{{ modal.Travellinginfo || '無'}}</td>
                  </tr>
                  <tr>
                    <th scope="row">注意事項：</th>
                    <td>{{ modal.Remarks || '無'}}</td>
                    <th>收費價格：</th>
                    <td>{{ modal.Ticketinfo || '無'}}</td>
                  </tr>
                  <tr>
                    <th scope="row" colspan="2">官方網站：</th>
                    <td colspan="2">{{ modal.Website || '無'}}</td>
                  </tr>
                  <tr>
                    <th scope="row">資料更新日期：</th>
                    <td>{{ modal.Changetime }}</td>
                    <th scope="row">資料ID：</th>
                    <td>{{ modal.id }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
        <button type="button" class="btn btn-outline-danger">
          <i class="fa fa-heart" aria-hidden="true"></i>
          收藏
        </button>
      </div>
    </div>
  </div>
</div>
