a {
  color: #000;
  text-decoration: none;
}

.activity {
  height: 450px;
  background-image: url('../../assets/img/site/bg.jpg');
  background-position: center bottom;
  background-size: cover;
}

.fixed {
  position: fixed;
}