<p>
  bus-info works!
</p>

<h1>  bus-info works!</h1>
<h1>  bus-info works!</h1>
<h1>  bus-info works!</h1>
<h1>  bus-info works!</h1>
<h1>  bus-info works!</h1>
<h1>  bus-info works!</h1>
<h1>  bus-info works!</h1>
<div class="container">
  <div class="row">
    <!-- *ngFor="let busRoute of busRouteList let i=index" -->
    <div class="col-4" *ngFor="let busRoute of busRouteList let i=index">
      <div class="card" *ngIf="i<itemValue">
          <div class="card-body">
            <h5 class="card-title">{{busRoute.nameZh}}</h5>
            <p class="card-text">{{busRoute.ddesc | slice:1:30}}...</p>
            <!-- <p class="card-text">{{site.Description}}</p> -->
          </div>
        </div>
  </div>
  </div>
</div>
<input type="button" value="Click" (click)="showAll()">

{{busRouteList.length}}